name: Deploy Static Website to Azure
on:
  push:
    branches:
      main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Azure login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: upload to azure static Website
      run: |
        az storage blob upload-batch \
         --account-name ${{ secrets.STORAGE_ACCOUNT_NAME }} \
         --destination '$web' \
         --source . \
         --overwrite \
         --exclude-path ".git .github" \
         --auth-mode login